* {
  font-family: Arial, Helvetica, sans-serif;
}

.container {  
  gap: 56px;
}

.container, .board_with_message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cross, .circle {
  font-weight: 800;
  
}

.container:first-child {
  font-size: 30px;
}

.cross, .circle {
  font-size: 70px;
}

.main_board {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  
}

.cell {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cross {
  color: brown;
}

.player_container, .board_with_message {
  display: flex;
  flex-direction: column;
}

.player_container {
  gap: 24px;
  margin-bottom: 120px;
}

.board_with_message {
  gap: 16px;
}

.firstPlayer, .secondPlayer{
  color: blue;
}

.message {
  color: rgb(0, 144, 0);
  margin-top: 10px; 
}

.button-container {
  display: flex;
  gap: 16px;
}

.change_players, .new_game {
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 2px;
  font-size: 20px;
  color: white;
}

.change_players {
  background: rgb(208, 0, 0);
  border: 1px solid rgb(185, 0, 0);
}

.new_game {
  background: rgb(0, 144, 0);
  border: 1px solid rgb(0, 144, 0);
}

@media (max-width: 1024px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .main_board {
    width: 240px;
    height: 240px;
  }

  .cell {
    width: 80px;
    height: 80px;
  }

  .message {
    font-size: 20px;
  }

  .new_game {
    padding: 6px 12px;
    font-size: 18px;
  }

  .player_container {
    margin-bottom: 80px;
  }

  .player_container h4 {
    font-size: 24px;
  }
}

@media (max-width: 540px) {
  .container {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  
  .main_board {
    width: 150px;
    height: 150px;
  }

  .cell {
    width: 50px;
    height: 50px;
  }

  .message {
    font-size: 18px;
  }

  .new_game {
    width: 100%;
    font-size: 16px;
    padding: 5px 10px;
  }

  .player_container h4 {
    font-size: 16px;
  }

  .cross, .circle{
    font-size: 40px;
  }

  .new_game, .change_players {
    width: 100%;
    padding: 8px;
    font-size: 14px;
  }

  .button-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
